<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Uclix</h1>
        <nav>
          <ul>
            <li><a href="Accueil.ejs">Home</a></li>
            <li><a href="Movies.ejs" id="currentwindow">Movies</a></li>
            <li><a href="Categories.ejs">Categories</a></li>
            <li><a href="Top10.ejs">Top 10</a></li>
            <li><a href="People.ejs">People</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
