<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of People</title>
    <style>
      .people-container {
        display: flex;
        flex-wrap: wrap;
      }
      .people-card {
        border: 1px solid #333;
        padding: 10px;
        margin: 10px;
        flex: 0 0 calc(33.33% - 20px);
      }
      .people-card h2 {
        margin: 0;
      }
      .people-card img {
        width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body>
    <div class="people-container">
      <% people.forEach(people => { %>
      <div class="people-card">
        <h2><%= people.name %></h2>
        <a href="/people-details/<%= people._id %>">
          <img src="<%= people.image %>" alt="<%= people.name %>" />
        </a>
      </div>
      <% }); %>
    </div>
  </body>
</html>
