<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Uclix</h1>
        <nav>
          <ul>
            <li><a href="Accueil.ejs">Home</a></li>
            <li><a href="Movies.ejs" id="currentwindow">Movies</a></li>
            <li><a href="Categories.ejs">Categories</a></li>
            <li><a href="Top10.ejs">Top 10</a></li>
            <li><a href="People.ejs">People</a></li>
          </ul>
        </nav>
      </div>
      <div class="container">
        <div id="orderbyletter">
          <h2 id="letterstyle">A.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">B.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">C.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">D.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">E.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">F.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">G.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">H.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">I.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">J.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">K.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">L.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">M.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">N.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">O.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">P.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">Q.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">R.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">S.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">T.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">U.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">V.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">W.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">X.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">Y.</h2>
          <div class="container">movie 1</div>
        </div>

        <div id="orderbyletter">
          <h2 id="letterstyle">Z.</h2>
          <div class="container">movie 1</div>
        </div>
      </div>
    </header>
  </body>
</html>
