<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Uclix</h1>
        <nav>
          <ul>
            <li><a href="Accueil.ejs">Home</a></li>
            <li><a href="Movies.ejs" id="currentwindow">Movies</a></li>
            <li><a href="Categories.ejs">Categories</a></li>
            <li><a href="Top10.ejs">Top 10</a></li>
            <li><a href="People.ejs">People</a></li>
          </ul>
        </nav>
      </div>
    </header>

    
    <div class="SingleMovie">
      <h2>TITLE</h2>
      <div id="flex">
        <div id="flex-direction">
        <img src="../images/blacklist.webp" alt="Movie 1" />
        </div>
      <section id="Description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </section>
    </div>
    </div>
    <div class="Reviews">
      <h2>Reviews</h2>
      <br>UN GARS : 5 STARS</br>
    </br>
      <section id="Description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </section>
    </div>
  </body>
</html>
